# This is Git's per-user configuration file.
[user]
	name = Brandon Philips
	email = brandon.philips@coreos.com

[alias]
	copr = "!f() { git fetch upstream pull/$1/head:pr-$1; git co pr-$1;}; f"

[transfer]
	        fsckobjects = true
[fetch]
	        fsckobjects = true
[receive]
	        fsckObjects = true
