# This is Git's per-user configuration file.
[user]
	name = Brandon Philips
	email = brandon@ifup.org

[alias]
	copr = "!f() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1;}; f"

[transfer]
	        fsckobjects = true
[fetch]
	        fsckobjects = true
[receive]
	        fsckObjects = true


[push]
	default = simple
[commit]
[init]
	defaultBranch = main
